:root {
  color-scheme: dark;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 925px;
}

#jarvisForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 3px solid #ABABAB;
  border-radius: 50px;
  background-color: #4677AB;
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    transform: scale(1)
    	rotate();
  }
  20% {
    transform: scale(1.25)
    	rotate(-45deg);
  }
  40% {
    transform: scale(1.5)
    	rotate(-45deg);
  }
}
